div{
    padding: 20px;
    margin-top: 5%;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    border: 5px solid black;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(230, 58, 58)
}